body {
  background: orange;
}
.container {
  width: 50%;
  background: violet;
  aspect-ratio: 16/9;
  outline: 1px solid black;
  overflow: hidden;
}
.img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
